= form_for [@project, @protected_environment], html: { class: 'new-protected-environment js-new-protected-environment' } do |f|
  .card
    .card-header
      %h3.card-title
        = s_('ProtectedEnvironment|Protect an environment')
    .card-body
      = form_errors(@protected_environment)
      .form-group
        = f.label :name, class: 'label-bold' do
          = s_('ProtectedEnvironment|Environment')
        = render partial: 'projects/protected_environments/environments_dropdown', locals: { f: f, project: @project }

      .form-group
        %label#allowed-users-label.label-bold
          = s_('ProtectedEnvironment|Allowed to deploy')
        .js-allowed-to-deploy-dropdown

    .card-footer
      = f.submit s_('ProtectedEnvironment|Protect'), class: 'gl-button btn btn-confirm', disabled: true
